body {
    font-weight: 300;
}
header {
    margin-top: 2rem;
    text-align: center;
}
h1, h2, h3, h4, h5 {
    font-weight: 100;
}
section {
    padding-top: 4rem;
    padding-bottom: 4rem;
}
ul {
    margin-left: 1rem;
}
.vertical-timeline {
    width: 100%;
}
.vertical-timeline::before {
    background: #222;
    width: 1px;
}
.vertical-timeline-element-icon {
    width: 34px;
    height: 34px;
    box-shadow: none;
    border: solid 1px #222;
    background-color: #fff;
}
.vertical-timeline-element-content {
    padding: 0;
    background: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: solid 1px #222;
}
.vertical-timeline-element-content h5 {
    font-weight: 500;
}
.vertical-timeline-element-content ul {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.vertical-timeline-element-content .vertical-timeline-element-date {
    left: 137%;
    top: 12px;
}
.vertical-timeline-element.vertical-timeline-element--right .vertical-timeline-element-content .vertical-timeline-element-date, .vertical-timeline-element:nth-child(2n):not(.vertical-timeline-element--left) .vertical-timeline-element-content .vertical-timeline-element-date {
    right: 137%;
}
@media (min-width: 550px) {
    header {
        margin-top: 8rem;
    }
    section {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}
@media (min-width: 1170px) {
    .vertical-timeline-element-icon {
        width: 54px;
        height: 54px;
    }
    .vertical-timeline {
        width: 100%;
    }
}
